@font-face {
  font-family: "Ha-MahtzevaVF";
  src: url("./Ha-MahtzevaVF.woff2") format("woff2");
  font-weight: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Ha-MahtzevaInlineVF";
  src: url("./Ha-MahtzevaInlineVF.woff2") format("woff2");
  font-weight: normal;
  font-stretch: normal;
}

:root {
  --white: #ebeae9;
  --black: #232323;
}

body {
  /* use css variables for font names for easy switching later on: */
  --font-family-primary: "Ha-MahtzevaVF";
  --font-family-secondary: "Ha-MahtzevaInlineVF";
  margin: 0;
  background-color: var(--white);
  font-family: var(--font-family-primary);
  direction: rtl;
}

body.switch-fonts {
  /* switch mode for toggle */
  --font-family-primary: "Ha-MahtzevaInlineVF";
  --font-family-secondary: "Ha-MahtzevaVF";
}

::selection {
  color: var(--black);
  background: var(--white);
}

.black__background {
  background-color: var(--black);
  color: var(--white);
  padding: 0%;
}

.black__backgroundtop {
  background-color: var(--black);
  color: var(--white);
  padding: 0%;
  padding-top: 35vh;
}

@media (max-width: 1200px) {
  .black__backgroundtop {
    padding-top: 30vh;
  }
}

.white__background {
  background-color: var(--white);
  color: var(--black);
  position: relative;
  min-height: 100vh;
}

.white__background ::selection {
  color: var(--white);
  background: var(--black);
}

/* scroll Headline */
#sticky-container {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  align-items: center;
  width: 100%;
  background-color: var(--black);
  height: 10vh;
  z-index: 9999;
}

@media (max-width: 1200px) {
  #sticky-container {
    height: 7vh;
    margin-bottom: 3vh;
    padding-top: 2%;
    padding-bottom: 1%;
    justify-content: space-between;
  }
}

.headline {
  font-size: clamp(4rem, 7vw, 8rem);
  font-variation-settings: "YYYY" 0;
  width: auto;
  margin-left: 2%;
  margin-right: 6vw;
  cursor: n-resize;
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 5vw;
  height: 2.5vw;
  background: var(--white);
  display: block;
  border-radius: 5vw;
  position: relative;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media (max-width: 1200px) {
  label {
    width: 15vw;
    height: 7.5vw;
    border-radius: 15vw;
    margin-left: 6vw;
  }
}

label:after {
  content: "";
  position: absolute;
  top: 0.15vw;
  left: 0.125vw;
  width: 2.25vw;
  height: 2.25vw;
  background: var(--black);
  border-radius: 2.25vw;
  transition: transform 0.3s ease-in-out;
  border: 0.125vw solid var(--black);
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  label:after {
    top: 0.45vw;
    left: 0.375vw;
    width: 6.75vw;
    height: 6.75vw;
    border-radius: 6.75vw;
    border: 0.375vw solid var(--black);
  }
}

input:checked + label:after {
  transform: translateX(2.5vw);
  background-color: transparent;
}

@media (max-width: 1200px) {
  input:checked + label:after {
    transform: translateX(7.5vw);
  }
}
/* scroll Headline end*/

/* p-info start */
.info__container {
  width: auto;
  margin-left: 35%;
  margin-right: 6vw;
  padding-bottom: 6vw;
  height: 100vh;
}

.p-info {
  margin: 0;
  font-size: 2.8vw;
  line-height: 2.3vw;
  overflow-wrap: break-word;
  letter-spacing: 0.03vw;
  position: sticky;
  top: 45vh;
}

#scroll-container {
  display: flex;
  flex-direction: row;
  height: 55vh;
}

.info__container2 {
  width: auto;
  margin: auto;
  margin-left: 40%;
  margin-right: 6vw;
  padding-bottom: 12vh;
}

.p-info2 {
  margin: 0;
  font-size: clamp(2rem, 2.15vw, 4rem);
  line-height: clamp(1.75rem, 2vw, 3.8rem);
  overflow-wrap: break-word;
  letter-spacing: 0.02vw;
}

@media (max-width: 1200px) {
  .info__container {
    width: 88vw;
    margin-left: 0%;
  }

  .p-info {
    font-size: 4vh;
    line-height: 3.6vh;
    position: static;
  }

  .info__container2 {
    width: 88vw;
    margin-left: 0%;
  }
}

.p-info-inline {
  font-family: "Ha-MahtzevaInlineVF";
}

.p-info-reg {
  font-family: "Ha-MahtzevaVF";
}

.info-three-d {
}

.info-three-d .char {
  --delay: calc((var(--char-index) + 1) * 200ms);
  animation: three-d 6000ms infinite both;
  animation-delay: var(--delay);
}

@keyframes three-d {
  0% {
    font-variation-settings: "XXXX" 0, "YYYY" 0;
  }

  40% {
    font-variation-settings: "XXXX" -25, "YYYY" 25;
  }

  100% {
    font-variation-settings: "XXXX" 0, "YYYY" 0;
  }
}
/* p-info end */

/* Otiot start */
.Otiot__container {
  margin-right: 6vw;
  margin-bottom: 8vh;
}

.otiot {
  font-size: clamp(4.8rem, 7.5vw, 12rem);
  line-height: clamp(3.8rem, 6vw, 9rem);
  font-variation-settings: "XXXX" 0, "YYYY" 0;
  text-align: rtl;
  letter-spacing: 0.35vw;
}
/* Otiot end */

/* animation-asterisk start */
.container__XY {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
  justify-self: center;
  margin: auto;
}

.animation-X {
  display: inline-block;
  font-size: 50vw;
  text-align: center;
  display: flex;
  justify-content: center;
  user-select: none;
  width: 35vw;
  animation: XXXX 4000ms infinite both;
}

@keyframes XXXX {
  0% {
    font-variation-settings: "XXXX" -45, "YYYY" 0;
  }

  50% {
    font-variation-settings: "XXXX" 45, "YYYY" 0;
  }

  100% {
    font-variation-settings: "XXXX" -45, "YYYY" 0;
  }
}

.animation-Y {
  display: inline-block;
  font-size: 50vw;
  text-align: center;
  display: flex;
  justify-content: center;
  user-select: none;
  width: 35vw;
  animation: YYYY 4000ms infinite both;
}

@keyframes YYYY {
  0% {
    font-variation-settings: "XXXX" 0, "YYYY" -45;
  }

  50% {
    font-variation-settings: "XXXX" 0, "YYYY" 45;
  }

  100% {
    font-variation-settings: "XXXX" 0, "YYYY" -45;
  }
}

@media (max-width: 1200px) {
  .container__XY {
    margin-top: 10vw;
    margin-bottom: 5vw;
    width: 75vw;
  }

  .animation-X {
    font-size: 55vw;
    width: 35vw;
  }

  .animation-Y {
    font-size: 55vw;
    width: 35vw;
  }
}
/* animation-asterisk end */

/* 9 alef Start*/
.container__alef {
  width: 45vw;
  height: 45vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  z-index: 1;
  margin-bottom: 7vw;
  margin-top: -7vw;
}

@media (max-width: 1200px) {
  .container__alef {
    width: 90vw;
    height: 90vw;
    margin-bottom: 20vw;
    margin-top: 0vw;
  }
}

.cell {
  width: 8vw;
  height: 8vw;
  padding: 3.5vw;
  font-size: 14vw;
  text-align: center;
  transition: 0.75s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

@media (max-width: 1200px) {
  .cell {
    width: 29vw;
    height: 29vw;
    font-size: 30vw;
    padding: 0.5vw;
  }
}

.cell-1 {
  font-variation-settings: "XXXX" 45, "YYYY" 45;
}
.cell-1:hover {
  font-variation-settings: "XXXX"-45, "YYYY"-45;
}

.cell-2 {
  font-variation-settings: "XXXX" 0, "YYYY" 45;
}
.cell-2:hover {
  font-variation-settings: "XXXX" 0, "YYYY"-45;
}

.cell-3 {
  font-variation-settings: "XXXX"-45, "YYYY" 45;
}
.cell-3:hover {
  font-variation-settings: "XXXX" 45, "YYYY"-45;
}

.cell-4 {
  font-variation-settings: "XXXX" 45, "YYYY" 0;
}
.cell-4:hover {
  font-variation-settings: "XXXX"-45, "YYYY" 0;
}

.cell-5 {
  font-variation-settings: "XXXX" 0, "YYYY" 0;
}

.cell-6 {
  font-variation-settings: "XXXX"-45, "YYYY" 0;
}
.cell-6:hover {
  font-variation-settings: "XXXX" 45, "YYYY" 0;
}

.cell-7 {
  font-variation-settings: "XXXX" 45, "YYYY"-45;
}
.cell-7:hover {
  font-variation-settings: "XXXX"-45, "YYYY" 45;
}

.cell-8 {
  font-variation-settings: "XXXX" 0, "YYYY"-45;
}
.cell-8:hover {
  font-variation-settings: "XXXX" 0, "YYYY" 45;
}

.cell-9 {
  font-variation-settings: "XXXX"-45, "YYYY"-45;
}
.cell-9:hover {
  font-variation-settings: "XXXX" 45, "YYYY" 45;
}
/* 9alef End*/

/* alice start */
.alice__container {
  width: auto;
  margin-right: 6vw;
  margin-left: 6vw;
}

.alice-p {
  font-size: clamp(2.5rem, 6vw, 8rem);
  line-height: clamp(2.8rem, 4.3vw, 6.5rem);
}

.names {
  font-family: var(--font-family-secondary);
  font-size: clamp(4rem, 4vw, 4rem);
  font-variation-settings: "XXXX" 0, "YYYY" -22.5;
}

.names br {
  display: none;
}

@media (max-width: 1200px) {
  .alice__container {
    margin-left: 0vw;
  }

  .names br {
    display: flex;
  }
}

.zahal {
  animation: zahal 6000ms infinite both;
}

@keyframes zahal {
  0% {
    font-variation-settings: "XXXX" -35, "YYYY" 0;
  }

  50% {
    font-variation-settings: "XXXX" 0, "YYYY" 0;
  }

  100% {
    font-variation-settings: "XXXX" -35, "YYYY" 0;
  }
}

.alice {
  animation: alice 6000ms infinite both;
}

@keyframes alice {
  0% {
    font-variation-settings: "XXXX" 0, "YYYY" 0;
  }

  50% {
    font-variation-settings: "XXXX" 35, "YYYY" 0;
  }

  100% {
    font-variation-settings: "XXXX" 0, "YYYY" 0;
  }
}
/* alice end */

/* Transform Container */
#transform__container {
  position: relative;
  width: 35vw;
  height: 35vw;
  margin: auto;
  border: #f7f6f4 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1vw;
  overflow: hidden;
  cursor: crosshair;
  margin-top: 10vw;
  touch-action: none;
}

@media (max-width: 1200px) {
  #transform__container {
    width: 90vw;
    height: 90vw;
    margin-top: 25vw;
    margin-bottom: 3vw;
  }
}

#transform__digits__container {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: clamp(1rem, 1vw, 1.3rem);
  line-height: clamp(1.5rem, 1.2vw, 3.1rem);
}

#transform__container::before,
#transform__container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#transform__container::before {
  background-image: repeating-linear-gradient(
    to right,
    #444 0,
    #444 1px,
    transparent 1px,
    transparent calc(100% / 90)
  );
}

#transform__container::after {
  background-image: repeating-linear-gradient(
    to bottom,
    #444 0,
    #444 1px,
    transparent 1px,
    transparent calc(100% / 90)
  );
}

#title {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: clamp(12rem, 25vw, 30rem);
  font-stretch: 62%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#title span {
  display: block;
}

.label-t {
  position: absolute;
  margin: 0;
  font-size: clamp(1rem, 1vw, 1.3rem);
  overflow-wrap: break-word;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  z-index: 2;
}

.label-t--left,
.label-t--right {
  top: 50%;
  transform: translateY(-50%);
}

.label-t--top,
.label-t--bottom {
  left: 50%;
  transform: translateX(-50%);
}

.label-t--left {
  left: 0.5rem;
  transform-origin: left center;
  transform: rotate(-90deg) translate(-50%, 50%);
}

.label-t--right {
  right: 0.5rem;
  transform-origin: right center;
  transform: rotate(90deg) translate(50%, 50%);
}

.label-t--top {
  top: 0.5rem;
}

.label-t--bottom {
  bottom: 0.5rem;
}
/* Transform Container End */

/* Animation nadned*/
.nadned__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.animation2 {
  font-size: 6vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 8vw;
}

.animation2 br {
  display: none;
}

@media (max-width: 1200px) {
  .animation2 {
    font-size: 12vw;
    line-height: 10vw;
    margin-top: 20vw;
  }

  .animation2 br {
    display: flex;
  }
}

.right {
  animation: swapthings 3s infinite both;
}

.left {
  animation: swapthings2 3s infinite both;
}

@keyframes swapthings {
  0% {
    font-variation-settings: "XXXX" 25, "YYYY" 25;
  }

  50% {
    font-variation-settings: "XXXX" 25, "YYYY" -25;
  }

  100% {
    font-variation-settings: "XXXX" 25, "YYYY" 25;
  }
}

@keyframes swapthings2 {
  0% {
    font-variation-settings: "XXXX" -25, "YYYY" -25;
  }

  50% {
    font-variation-settings: "XXXX" -25, "YYYY" 25;
  }

  100% {
    font-variation-settings: "XXXX" -25, "YYYY" -25;
  }
}
/* Animation nadned End*/

/* sound react start */
.sound-container {
  display: flex;
  align-items: center;
  height: 110vh;
  margin-bottom: auto;
}

@media (max-width: 1200px) {
  .sound-container {
    height: 30vh;
  }
}

@media (max-width: 1200px) {
  .sound-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

.custom-text {
  --XXXX: 7.5;
  --YYYY: 7.5;
  font-variation-settings: "XXXX" var(--XXXX), "YYYY" var(--YYYY);
  font-size: clamp(4rem, 12vw, 15rem);
  line-height: clamp(3.5rem, 10vw, 12.5rem);
  color: var(--white);
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 2%;
}
/* sound react end */

/* hover animation*/
.hovering__container {
  background-color: transparent;
  align-items: center;
  margin: auto;
  margin-bottom: 10vw;
  text-align: center;
  padding: 0% !important;
  touch-action: none;
  display: flex;
  justify-content: center;
  width: auto;
}

ul {
  padding-inline-start: 0px;
}

a {
  font-family: var(--font-family-primary);
  color: var(--white);
  font-size: 2.8vw;
  line-height: 2.3vw;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 500ms ease-in-out;
  align-items: center;
  direction: rtl;
  cursor: default;
}

@media (max-width: 1200px) {
  a {
    font-size: clamp(1.9rem, 2.15vw, 4rem);
    line-height: clamp(1.75rem, 2vw, 3.8rem);
  }

  .hovering__container {
    margin-bottom: 15vw;
  }
}

a > span {
  cursor: none;
}
/* hover animation END*/

/* Silder Start*/
.slidecontainer {
  margin: auto;
  padding: 10px;
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .slidecontainer {
    width: 90vw;
  }
}

.slider {
  -webkit-appearance: none;
  width: 30vw;
  height: 2px;
  background: var(--white);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 10px;
}

@media (max-width: 1200px) {
  .slider {
    width: 90vw;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  background: var(--white);
  border: solid 8px var(--black);
}

.slider::-webkit-slider-thumb:hover {
  background: var(--white);
  border: solid 5px var(--black);
  cursor: ew-resize;
}

.slider__label {
  font-family: "Courier New", Courier, monospace;
  width: 10%;
  font-size: clamp(1rem, 1vw, 1.3rem);
}

.slider-label__text {
  direction: ltr;
}

.slider-label__value {
  direction: rtl;
}

#text-container {
  margin: 6vw;
  margin-bottom: 10vw;
  margin-top: 1.5vw;
  height: auto;
  display: flex;
  justify-items: center;
  width: 88%;
}

.input__text {
  font-size: 12vw;
  text-align: center;
  width: 100%;
  height: 15vw;
  font-family: var(--font-family-primary);
  font-variation-settings: "XXXX" var(--text-XXXX), "YYYY" var(--text-YYYY);
  color: var(--black);
  border-radius: 5px;
  background-color: var(--white);
}

@media (max-width: 1200px) {
  .input__text {
    font-size: 15vw;
    height: 20vw;
  }

  #text-container {
    margin-top: 3vw;
    margin-bottom: 20vw;
  }
}

.input__text::selection {
  color: var(--white);
  background: var(--black);
}
/* Slider End*/

.lifamim__container {
  padding-right: 6vw;
  padding-left: 6vw;
  user-select: none;
}

.lifamim {
  font-size: clamp(3.3rem, 12vw, 20rem);
  line-height: clamp(3rem, 9vw, 14rem);
  font-variation-settings: "XXXX" -45, "YYYY" -45;
  margin-bottom: 2vw;
  transition: 500ms ease-in-out;
}

.lifamim:hover {
  font-variation-settings: "XXXX" -45, "YYYY" 0;
}

.lifamim-left {
  font-family: var(--font-family-secondary);
  font-size: clamp(3.3rem, 12vw, 20rem);
  line-height: clamp(3rem, 9vw, 14rem);
  font-variation-settings: "XXXX" 45, "YYYY" 45;
  text-align: left;
  transition: 500ms ease-in-out;
}

.lifamim-left:hover {
  font-variation-settings: "XXXX" 45, "YYYY" 0;
}

/* table hover start */
#Table-hover__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  margin: auto;
  padding-bottom: 10vw;
}

@media (max-width: 1200px) {
  #Table-hover__container {
    flex-direction: column-reverse;
    height: 130vw;
    width: 90vw;
  }
}

#content-container {
  width: 25.2vw;
  height: 25.2vw;
  background-color: transparent;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  #content-container {
    width: 90vw;
    height: 60vw;
  }
}

.table-container {
}

table {
  border-collapse: collapse;
  border: 1px solid var(--white);
  background-color: transparent;
  table-layout: fixed;
}

@media (max-width: 1200px) {
  table {
    width: 90vw;
    height: 60vw;
  }
}

td {
  position: relative;
  text-align: center;
  font-size: 3.75vw;
  color: var(--white);
  width: 4.2vw;
  height: 4.2vw;
  vertical-align: middle;
}

@media (max-width: 1200px) {
  td {
    font-size: 8vw;
  }
}

td:hover {
  background-color: var(--white);
  color: var(--black);
  cursor: default;
}

.table-container.font-ha-mahtzeva table td {
  font-family: var(--font-family-secondary);
}

#content.font-ha-mahtzeva {
  font-family: var(--font-family-secondary);
}

#content-container:hover {
  opacity: 1;
}

#content {
  font-size: clamp(20rem, 30vw, 35rem);
  color: var(--white);
  animation: table-animation 8000ms infinite both;
}

@keyframes table-animation {
  0% {
    font-variation-settings: "XXXX" 45, "YYYY" 45;
  }

  12.5% {
    font-variation-settings: "XXXX" 0, "YYYY" 45;
  }

  25% {
    font-variation-settings: "XXXX" -45, "YYYY" 45;
  }

  37.5% {
    font-variation-settings: "XXXX" -45, "YYYY" 0;
  }

  50% {
    font-variation-settings: "XXXX" -45, "YYYY" -45;
  }

  62.5% {
    font-variation-settings: "XXXX" 0, "YYYY" -45;
  }

  75% {
    font-variation-settings: "XXXX" 45, "YYYY" -45;
  }

  87.5% {
    font-variation-settings: "XXXX" 45, "YYYY" 0;
  }

  100% {
    font-variation-settings: "XXXX" 45, "YYYY" 45;
  }
}
/* table hover end */

/* Strip start */
@keyframes ticker {
  0% {
    transform: translate3d(25%, 0, 0);
  }
  100% {
    transform: translate3d(-25%, 0, 0);
  }
}

section {
  text-align: center;
  position: relative;
  background-color: var(--white);
  color: var(--black);
}

section .group {
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

section .group .row {
  width: 700vw;
  display: flex;
  justify-content: space-around;
  transform: translate3d(25%, 0, 0);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 50s;
  animation-direction: alternate-reverse;
  font-size: 15vw;
}

@media (max-width: 1200px) {
  section .group {
    height: 60vw;
  }

  section .group .row {
    font-size: 25vw;
    width: 1000vw;
  }
}
/* Strip end */

/* Credits start */
.white__backgroundend {
  background-color: var(--white);
  color: var(--black);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
}

.white__backgroundend ::selection {
  color: var(--white);
  background: var(--black);
}

@media (max-width: 1200px) {
  .white__backgroundend {
    height: 94vh;
    padding-right: 6vw;
    padding-left: 6vw;
  }
}

.credit__container {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: auto;
}

@media (max-width: 1200px) {
  .credit__container {
    flex-direction: column;
  }
}

.credit__container_bezalel {
  display: block;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 35vw;
  margin-top: auto;
  height: auto;
  margin-right: 2vw;
}

.credit__container_cntr {
  display: block;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: auto;
  height: auto;
}

@media (max-width: 1200px) {
  .credit__container_bezalel {
    width: 100%;
  }
}

.p-creditscntr {
  font-size: clamp(2rem, 2.15vw, 4rem);
  line-height: clamp(1.75rem, 2vw, 3.8rem);
  overflow-wrap: break-word;
  letter-spacing: 0.02vw;
  text-align: rtl;
  width: 40vw;
  margin-top: auto;
}

@media (max-width: 1200px) {
  .p-creditscntr {
    width: 100%;
  }
}

#bezalel_logo {
  width: 70%;
  mix-blend-mode: multiply;
  margin-bottom: -1.5%;
}

@media (max-width: 1200px) {
  #bezalel_logo {
    width: 100%;
    margin-top: -2%;
  }
}

.credits_slnt {
  margin: 0;
  font-variation-settings: "XXXX" -20, "YYYY" 20;
  overflow-wrap: break-word;
  text-align: center;
  font-family: var(--font-family-secondary);
}

.credits_h {
  margin: 0;
  font-size: clamp(3rem, 4vw, 6rem);
}

.credits_h .char {
  --delay: calc((var(--char-index) + 1) * 200ms);
  animation: three-d 8000ms infinite both;
  animation-delay: var(--delay);
}

/* Credits end */

.ot-ot-container {
  display: flex;
  justify-content: center;
  margin-top: 10vw;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .ot-ot-container {
    margin-top: 20vw;
    width: 90vw;
  }
}

.tipa {
  font-size: clamp(4rem, 10vw, 16rem);
  line-height: clamp(3rem, 8vw, 11rem);
  justify-self: center;
  font-variation-settings: "XXXX" 0, "YYYY" 0;
  cursor: pointer;
  text-align: center;
}
